In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Demographic Data Processing

In [144]:
def remove_minus(x):
    if (x == "-"):
        return "NaN"
    else:
        return x.replace("-", "").replace("+", "").replace(",", "")

In [149]:
#this data is for 11 variables, all census tracts in California, using ACS 2009 5YR estimates 

demog_data_path = '/Users/ameliabaum/Desktop/Amelia/CRA_Thesis/communityreinvestmentact/data/demographic_data/'
#get percentages of each race
race = pd.read_csv(demog_data_path+ 'ACS_09_5YR_B02001_race_clean.csv')
race["Percent White"] = race["Estimate; White alone"]/race["Estimate; Total:"]
race["Percent Black or African African"] = race["Estimate; Black or African American alone"]/race["Estimate; Total:"]
race["Percent Asian"] = race["Estimate; Asian alone"]/race["Estimate; Total:"]


edu = pd.read_csv(demog_data_path+ 'ACS_09_5YR_S1501_bach_clean.csv')
edu = edu.rename({"Percent of population 25 years and over  with Bachelor\'s degree": "Percent of population 25 years and over with Bachelor\'s degree"}, axis=1)
edu["Percent of population 25 years and over with Bachelor\'s degree"] = edu["Percent of population 25 years and over with Bachelor\'s degree"].apply(lambda x: x.replace("+", "").replace("-", "NaN"))
edu["Percent of population 25 years and over with Bachelor\'s degree"] = edu["Percent of population 25 years and over with Bachelor\'s degree"].astype(float).dropna()


#get rid of + and ***
hvalue = pd.read_csv(demog_data_path+ 'ACS_09_5YR_B25077_hvalue_clean.csv')
hvalue["Estimate; Median value (dollars)"] = hvalue["Estimate; Median value (dollars)"].apply(lambda x: x.replace("+", "").replace("-", "NaN").replace(",", ""))
hvalue["Estimate; Median value (dollars)"] = hvalue["Estimate; Median value (dollars)"].astype(float)

#hvalue["Estimate; Median value (dollars)"] = hvalue["Estimate; Median value (dollars)"].astype(float).dropna()

#add attached and detached and find the %
single = pd.read_csv(demog_data_path+ 'ACS_09_5YR_B25024_singlefam_clean.csv')
single["Total Single Family"] = single["Estimate; 1, attached"]+ single["Estimate; 1, detached"]
single["% Single Family"] = single["Total Single Family"] / single["Estimate; Total:"]
#single["Tract"] = (single["Id2"].astype(str)).apply(lambda x: int(x[4:8]))



#find % Hispanic and non hispanic
hispanic = pd.read_csv(demog_data_path+ 'ACS_17_5YR_B03003_hispanic_clean.csv')
hispanic["% Hispanic or Latino"] = hispanic["Estimate; Total: - Hispanic or Latino"]/hispanic["Estimate; Total:"]
hispanic["% not Hispanic or Latino"] = hispanic["Estimate; Total: - Not Hispanic or Latino"]/hispanic["Estimate; Total:"]
#hispanic["Tract"] = (hispanic["Id2"].astype(str)).apply(lambda x: int(x[4:8]))



poverty = pd.read_csv(demog_data_path+ "ACS_17_5YR_S1701_poverty_clean.csv")
poverty["Percent below poverty level; Estimate; Population for whom poverty status is determined"] = poverty["Percent below poverty level; Estimate; Population for whom poverty status is determined"].apply(lambda x: x.replace("+", "").replace("-", "NaN"))
poverty["Percent below poverty level; Estimate; Population for whom poverty status is determined"] = poverty["Percent below poverty level; Estimate; Population for whom poverty status is determined"].astype(float).dropna()
# poverty["Tract"] = (poverty["Id2"].astype(str)).apply(lambda x: int(x[4:8]))

units = pd.read_csv(demog_data_path+'ACS_09_5YR_B25001_units_clean.csv')
#units["Tract"] = (units["Id2"].astype(str)).apply(lambda x: int(x[4:8]))


#find % renter occupied
tenure = pd.read_csv(demog_data_path+ 'ACS_09_5YR_B25003_tenure_clean.csv')
tenure["% Renter Occupied"] = tenure["Estimate; Renter occupied"]/tenure["Estimate; Total:"]
tenure["% Owner Occupied"] = tenure["Estimate; Owner occupied"]/tenure["Estimate; Total:"]


income = pd.read_csv(demog_data_path + 'ACS_09_5YR_S1903_income.csv')
income["Median income (dollars); All households"] = income["Median income (dollars); All households"].apply(remove_minus)

income["Median income (dollars); All households"] = income["Median income (dollars); All households"].astype(float)

In [151]:
# single.head()

#### Create Controlled features dataframe

In [4]:
race_units_merged = race.merge(units, how='left', left_on="Id2", right_on="Id2")
print("race and units merged", "length", len(race_units_merged))
#print("race and units merged", "dtypes", race_units_merged.dtypes)

edu_merged = race_units_merged.merge(edu, how='left', left_on="Id2", right_on="Id2")
print("edu merged", "length", len(edu_merged))
#print("edu merged", "dtypes", edu_merged.dtypes)

hispanic_merged = edu_merged.merge(hispanic, how='left', left_on="Id2", right_on="Id2")
print("hispanic merged", "length", len(hispanic_merged))
#print("hispanic merged", "dtypes", hispanic_merged.dtypes)

income_merged = hispanic_merged.merge(income, how='left', left_on="Id2", right_on="Id2")
print("income merged", "length", len(income_merged))
#print("income", "dtypes", income_merged.dtypes)

poverty_merged = income_merged.merge(poverty, how='left', left_on="Id2", right_on="Id2")
print("poverty merged", "length", len(poverty_merged))
#print("poverty", "dtypes", poverty_merged.dtypes)

hvalue_merged = poverty_merged.merge(hvalue, how='left', left_on="Id2", right_on="Id2")
print("hvalue merged", "length", len(hvalue_merged))
#print("hvalue", "dtypes", hvalue_merged.dtypes)

single_merged = hvalue_merged.merge(single, how='left', left_on="Id2", right_on="Id2")
print("single merged", "length", len(single_merged))
#print("singe merged", "dtypes", single_merged.dtypes)

# merged = single_merged.merge(tenure, how='left', left_on="Id2", right_on="Id2")
# print("tenure merged", "length", len(merged))


merged = single_merged.merge(tenure, how='left', left_on="Id2", right_on="Id2")
print("tenure merged", "length", len(merged))

race and units merged length 7049
edu merged length 7049
hispanic merged length 7049
income merged length 7049
poverty merged length 7049
hvalue merged length 7049
single merged length 7049
tenure merged length 7049

In [148]:
single_merged

,Id2,Geography_x,Estimate; Total:_x,Margin of Error; Total:_x,Estimate; White alone,Margin of Error; White alone,Estimate; Black or African American alone,Margin of Error; Black or African American alone,Estimate; American Indian and Alaska Native alone,Margin of Error; American Indian and Alaska Native alone,...,Margin of Error; Median value (dollars),Geography_y,Estimate; Total:,Margin of Error; Total:,"Estimate; 1, detached","Margin of Error; 1, detached","Estimate; 1, attached","Margin of Error; 1, attached",Total Single Family,% Single Family
0,6001400100,"Census Tract 4001, Alameda County, California",2872,233,2224,257,119,102,6,15,...,***,"Census Tract 4001, Alameda County, California",1439,28,1006,94,307,82,1313,0.912439
1,6001400200,"Census Tract 4002, Alameda County, California",2076,165,1650,217,47,49,11,21,...,39846,"Census Tract 4002, Alameda County, California",932,25,577,73,43,32,620,0.665236
2,6001400300,"Census Tract 4003, Alameda County, California",4964,369,3792,320,557,172,36,47,...,70431,"Census Tract 4003, Alameda County, California",2801,49,1234,158,107,76,1341,0.478758
3,6001400400,"Census Tract 4004, Alameda County, California",4223,553,3097,668,401,194,0,132,...,51801,"Census Tract 4004, Alameda County, California",2020,73,1007,136,115,56,1122,0.555446
4,6001400500,"Census Tract 4005, Alameda County, California",3759,308,1756,256,1316,327,14,24,...,45234,"Census Tract 4005, Alameda County, California",1735,50,673,98,98,59,771,0.444380
5,6001400600,"Census Tract 4006, Alameda County, California",1676,200,642,156,793,147,4,8,...,55299,"Census Tract 4006, Alameda County, California",784,42,422,80,74,55,496,0.632653
6,6001400700,"Census Tract 4007, Alameda County, California",3901,548,1424,357,1807,369,0,132,...,65391,"Census Tract 4007, Alameda County, California",2016,140,998,160,156,93,1154,0.572421
7,6001400800,"Census Tract 4008, Alameda County, California",3005,335,1049,231,1138,237,0,132,...,86200,"Census Tract 4008, Alameda County, California",1678,54,612,109,98,61,710,0.423123
8,6001400900,"Census Tract 4009, Alameda County, California",2667,392,1103,223,1454,437,0,132,...,59493,"Census Tract 4009, Alameda County, California",1198,49,539,113,51,44,590,0.492487
9,6001401000,"Census Tract 4010, Alameda County, California",6152,727,1428,391,3499,533,0,132,...,43211,"Census Tract 4010, Alameda County, California",2682,85,1201,176,50,46,1251,0.466443
10,6001401100,"Census Tract 4011, Alameda County, California",3551,362,2287,389,498,133,34,39,...,94470,"Census Tract 4011, Alameda County, California",2305,46,398,92,61,61,459,0.199132
11,6001401200,"Census Tract 4012, Alameda County, California",2515,263,1795,238,349,159,0,132,...,23960,"Census Tract 4012, Alameda County, California",1414,30,715,139,47,45,762,0.538897
12,6001401300,"Census Tract 4013, Alameda County, California",3269,614,1109,339,1383,451,0,132,...,22082,"Census Tract 4013, Alameda County, California",1785,47,10,16,14,21,24,0.013445
13,6001401400,"Census Tract 4014, Alameda County, California",3536,785,486,209,1770,334,31,37,...,50527,"Census Tract 4014, Alameda County, California",1801,60,385,92,142,77,527,0.292615
14,6001401500,"Census Tract 4015, Alameda County, California",2493,465,442,196,1587,435,0,132,...,74323,"Census Tract 4015, Alameda County, California",1236,65,530,136,127,73,657,0.531553
15,6001401600,"Census Tract 4016, Alameda County, California",1614,417,146,102,969,283,31,46,...,158647,"Census Tract 4016, Alameda County, California",900,69,291,105,33,53,324,0.360000
16,6001401700,"Census Tract 4017, Alameda County, California",1875,601,450,216,597,152,0,132,...,133544,"Census Tract 4017, Alameda County, California",800,52,286,69,115,60,401,0.501250
17,6001401800,"Census Tract 4018, Alameda County, California",1265,325,195,197,825,281,0,132,...,187486,"Census Tract 4018, Alameda County, California",816,38,224,79,80,60,304,0.372549
18,6001401900,"Census Tract 4019, Alameda County, California",678,341,148,85,19,30,7,11,...,141275,"Census Tract 4019, Alameda County, California",256,112,104,67,0,132,104,0.406250
19,6001402000,"Census Tract 4020, Alameda County, California",87,69,0,132,21,33,0,132,...,**,"Census Tract 4020, Alameda County, California",31,29,10,16,0,132,10,0.322581
20,6001402100,"Census Tract 4021, Alameda County, California",1843,343,307,249,1110,274,0,132,...,303999,"Census Tract 4021, Alameda County, California",903,75,127,81,231,94,358,0.396456
21,6001402200,"Census Tract 4022, Alameda County, California",1729,431,677,378,681,266,0,132,...,98963,"Census Tract 4022, Alameda County, California",788,52,211,69,94,64,305,0.387056
22,6001402300,"Census Tract 4023, Alameda County, California",322,202,293,207,20,22,0,132,...,149311,"Census Tract 4023, Alameda County, California",146,78,46,34,0,132,46,0.315068
23,6001402400,"Census Tract 4024, Alameda County, California",2145,331,619,271,1248,314,0,132,...,62761,"Census Tract 4024, Alameda County, California",1204,52,283,97,63,52,346,0.287375
24,6001402500,"Census Tract 4025, Alameda County, California",2110,450,261,204,1624,448,8,13,...,60884,"Census Tract 4025, Alameda County, California",824,61,76,62,63,52,139,0.168689
25,6001402600,"Census Tract 4026, Alameda County, California",1021,136,203,113,264,97,0,132,...,18336,"Census Tract 4026, Alameda County, California",622,32,50,49,5,11,55,0.088424
26,6001402700,"Census Tract 4027, Alameda County, California",1575,389,291,223,1186,381,0,132,...,88584,"Census Tract 4027, Alameda County, California",789,25,193,89,44,52,237,0.300380
27,6001402800,"Census Tract 4028, Alameda County, California",2052,466,488,198,996,238,10,17,...,112623,"Census Tract 4028, Alameda County, California",1385,72,0,132,0,132,0,0.000000
28,6001402900,"Census Tract 4029, Alameda County, California",1025,163,180,71,285,139,0,132,...,**,"Census Tract 4029, Alameda County, California",902,53,0,132,0,132,0,0.000000
29,6001403000,"Census Tract 4030, Alameda County, California",2441,237,139,139,37,49,0,132,...,58901,"Census Tract 4030, Alameda County, California",1555,87,51,66,0,132,51,0.032797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7019,6113010701,"Census Tract 107.01, Yolo County, California",4350,621,3614,454,5,8,0,132,...,88758,"Census Tract 107.01, Yolo County, California",2000,119,820,142,132,73,952,0.476000
7020,6113010703,"Census Tract 107.03, Yolo County, California",4973,586,2332,395,32,40,52,53,...,33904,"Census Tract 107.03, Yolo County, California",1729,122,591,83,106,56,697,0.403123
7021,6113010704,"Census Tract 107.04, Yolo County, California",2303,254,1794,259,189,143,32,38,...,41403,"Census Tract 107.04, Yolo County, California",910,95,604,91,48,33,652,0.716484
7022,6113010800,"Census Tract 108, Yolo County, California",3897,465,2582,427,51,61,57,41,...,33240,"Census Tract 108, Yolo County, California",1372,65,938,127,70,44,1008,0.734694
7023,6113010901,"Census Tract 109.01, Yolo County, California",5708,543,3725,715,128,102,76,78,...,26570,"Census Tract 109.01, Yolo County, California",1793,87,1156,132,237,80,1393,0.776910
7024,6113010902,"Census Tract 109.02, Yolo County, California",5209,424,3306,510,155,125,103,65,...,11967,"Census Tract 109.02, Yolo County, California",2633,128,1068,166,158,90,1226,0.465629
7025,6113011001,"Census Tract 110.01, Yolo County, California",5797,750,4358,753,83,106,54,52,...,28903,"Census Tract 110.01, Yolo County, California",2574,129,905,167,188,91,1093,0.424631
7026,6113011002,"Census Tract 110.02, Yolo County, California",3279,316,2868,357,0,132,29,63,...,43046,"Census Tract 110.02, Yolo County, California",1455,63,1226,81,47,30,1273,0.874914
7027,6113011101,"Census Tract 111.01, Yolo County, California",3702,426,2609,462,42,69,117,151,...,38264,"Census Tract 111.01, Yolo County, California",1185,44,918,91,37,39,955,0.805907
7028,6113011102,"Census Tract 111.02, Yolo County, California",5281,549,2697,491,170,161,24,26,...,35325,"Census Tract 111.02, Yolo County, California",1616,74,744,139,64,50,808,0.500000
7029,6113011103,"Census Tract 111.03, Yolo County, California",3295,349,1744,399,152,88,142,149,...,13838,"Census Tract 111.03, Yolo County, California",1079,62,742,87,21,25,763,0.707136
7030,6113011203,"Census Tract 112.03, Yolo County, California",2864,158,2347,261,0,132,31,28,...,36381,"Census Tract 112.03, Yolo County, California",1087,47,955,80,83,53,1038,0.954922
7031,6113011204,"Census Tract 112.04, Yolo County, California",4675,283,3548,389,0,132,67,63,...,24511,"Census Tract 112.04, Yolo County, California",1703,64,1478,103,107,53,1585,0.930711
7032,6113011205,"Census Tract 112.05, Yolo County, California",6927,417,4145,500,9,14,26,25,...,15609,"Census Tract 112.05, Yolo County, California",2189,130,1714,143,48,55,1762,0.804934
7033,6113011206,"Census Tract 112.06, Yolo County, California",5850,591,3953,468,53,50,94,148,...,45851,"Census Tract 112.06, Yolo County, California",1969,179,1621,192,85,76,1706,0.866430
7034,6113011300,"Census Tract 113, Yolo County, California",8199,485,5935,458,0,132,78,86,...,25611,"Census Tract 113, Yolo County, California",2651,239,2010,230,122,69,2132,0.804225
7035,6113011400,"Census Tract 114, Yolo County, California",4043,686,2853,644,179,96,12,20,...,122282,"Census Tract 114, Yolo County, California",1392,157,1012,162,7,13,1019,0.732040
7036,6113011500,"Census Tract 115, Yolo County, California",5389,696,3844,653,81,68,22,26,...,76140,"Census Tract 115, Yolo County, California",2046,210,1532,235,74,55,1606,0.784946
7037,6115040100,"Census Tract 401, Yuba County, California",4837,493,2472,350,239,180,86,58,...,73407,"Census Tract 401, Yuba County, California",1978,171,842,156,60,47,902,0.456016
7038,6115040200,"Census Tract 402, Yuba County, California",7427,491,5263,532,394,196,130,113,...,18919,"Census Tract 402, Yuba County, California",3139,223,2169,236,95,73,2264,0.721249
7039,6115040300,"Census Tract 403, Yuba County, California",12196,897,7080,807,192,88,136,113,...,13174,"Census Tract 403, Yuba County, California",4234,175,2518,247,104,61,2622,0.619273
7040,6115040400,"Census Tract 404, Yuba County, California",5234,588,3706,552,27,41,169,91,...,14250,"Census Tract 404, Yuba County, California",2003,113,1345,148,50,36,1395,0.696455
7041,6115040500,"Census Tract 405, Yuba County, California",3668,553,2527,469,71,90,35,39,...,23060,"Census Tract 405, Yuba County, California",1330,110,847,116,36,33,883,0.663910
7042,6115040600,"Census Tract 406, Yuba County, California",6109,576,3771,535,59,50,303,152,...,17513,"Census Tract 406, Yuba County, California",2118,101,1344,151,10,18,1354,0.639282
7043,6115040700,"Census Tract 407, Yuba County, California",8801,849,5560,764,306,171,100,93,...,22028,"Census Tract 407, Yuba County, California",3087,185,2931,196,0,132,2931,0.949466
7044,6115040800,"Census Tract 408, Yuba County, California",4964,329,3601,410,13,21,44,42,...,24683,"Census Tract 408, Yuba County, California",1872,136,1434,142,46,53,1480,0.790598
7045,6115040901,"Census Tract 409.01, Yuba County, California",2567,352,2382,360,0,132,99,77,...,38799,"Census Tract 409.01, Yuba County, California",991,67,627,107,10,16,637,0.642785
7046,6115040902,"Census Tract 409.02, Yuba County, California",3848,720,2687,609,171,119,0,132,...,**,"Census Tract 409.02, Yuba County, California",1660,143,1150,169,157,78,1307,0.787349
7047,6115041000,"Census Tract 410, Yuba County, California",6670,514,5709,519,0,132,104,103,...,37104,"Census Tract 410, Yuba County, California",2777,137,2125,165,36,43,2161,0.778178
7048,6115041100,"Census Tract 411, Yuba County, California",4585,424,4103,416,0,132,193,133,...,49787,"Census Tract 411, Yuba County, California",2407,115,1651,144,6,10,1657,0.688409

In [14]:
merged.columns
merged = merged[["Id2", 'Percent of population 25 years and over with Bachelor\'s degree', '% Hispanic or Latino', 
      'Percent below poverty level; Estimate; Population for whom poverty status is determined', 
      '% Single Family', '% Owner Occupied', 'Percent Black or African African', 'Percent White', 'Percent Asian',
      'Estimate; Total Number of Housing Units', 'Estimate; Median value (dollars)', 
        'Median income (dollars); All households']]
merged = merged.rename({'Percent below poverty level; Estimate; Population for whom poverty status is determined': "% below poverty level",
              'Estimate; Total Number of Housing Units': 'Total number of housing units',
              'Estimate; Median value (dollars)': "Median home value",
              'Median income (dollars); All households': "Median income"})
print("num tracts", len(merged))
      
merged.head()

num tracts 7049

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0
1,6001400200,37.6,0.088633,5.5,0.665236,0.657428,0.022640,0.794798,0.069364,932,909500.0,122647.0
2,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0
3,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0
4,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0

#### Get only Bay Area counties

In [6]:
county_codes = ['6001', '6013', '6041', '6055', '6075', '6081', '6085', '6097', '6095']

In [13]:
merged_bay = merged[merged["Id2"].apply(lambda x: str(x)[:4]).isin(county_codes)]
print("num tracts", len(merged_bay))
merged_bay.head()

num tracts 1405

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0
1,6001400200,37.6,0.088633,5.5,0.665236,0.657428,0.022640,0.794798,0.069364,932,909500.0,122647.0
2,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0
3,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0
4,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0

#### Merge Demographic features with neighbors dataframe to contribute CRA eligibility information by tract and exclude CTs without oppositely coded neighbors

Universe: all of the CTs in the 9 county bay area that had loan activity have oppositely coded neighbors. The boolean_tracts_all_2009.csv file includes all the tracts that have oppositely coded neighbors and their CRA eligibility.

In [18]:
data_path = '/Users/ameliabaum/Desktop/Amelia/CRA_Thesis/communityreinvestmentact/data/neighbors/'
cra_elig_neighbors = pd.read_csv(data_path+ 'boolean_tracts_all_2009.csv')
cra_elig_neighbors.head()

        Tract  Year  CRA Eligible
0  6001433700  2009      eligible
1  6001435101  2009  not eligible
2  6001435101  2009  not eligible
3  6001435101  2009  not eligible
4  6001435101  2009  not eligible

In [17]:
demog_with_cra = pd.merge(merged, cra_elig_neighbors, how='right', left_on='Id2', right_on='Tract')
#.drop("Id2", axis=1) 
#i think that this is supposed to
#be a right merge because the demographics dataframe has all the census tracts, while the boolean neighbors one only
#has the census tracts in the bay area that have neighbors
demog_with_cra = demog_with_cra.drop(["Tract", "Year"], axis=1)
print(len(demog_with_cra))
demog_with_cra.head()

1228

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households,CRA Eligible
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0,not eligible
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0,not eligible
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0,not eligible
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0,eligible
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,586700.0,39802.0,eligible

#### Get total number and percentages of loans data from HMDA files
This is currently for 2009, but next step is to do it for the average of the recovery period 2013-2017


Universe: all of the CTs in the 9 county bay area that had loan activity during 2009

In [110]:
filepath = '/Users/ameliabaum/Desktop/Amelia/CRA_Thesis/communityreinvestmentact/data/parsed_data/'
Alameda = pd.read_csv(filepath+'Alameda_2009_parsed.csv')
Alameda["Geoid"] = Alameda["Tract"].apply(lambda x: int(x*100 + 6001000000))

ContraCosta = pd.read_csv(filepath+'ContraCosta_2009_parsed.csv')
ContraCosta["Geoid"] = ContraCosta["Tract"].apply(lambda x: int(x*100 + 6013000000))

Napa = pd.read_csv(filepath+'Napa_2009_parsed.csv')
Napa["Geoid"] = Napa["Tract"].apply(lambda x: int(x*100 + 6055000000))

Marin = pd.read_csv(filepath+'Marin_2009_parsed.csv')
Marin["Geoid"] = Marin["Tract"].apply(lambda x: int(x*100 + 6041000000))

SanMateo = pd.read_csv(filepath+'SanMateo_2009_parsed.csv')
SanMateo["Geoid"] = SanMateo["Tract"].apply(lambda x: int(x*100 + 6081000000))

SanFrancisco = pd.read_csv(filepath+'SanFrancisco_2009_parsed.csv')
SanFrancisco["Geoid"] = SanFrancisco["Tract"].apply(lambda x: int(x*100 + 6075000000))

Solano = pd.read_csv(filepath+'Solano_2009_parsed.csv')
Solano["Geoid"] = Solano["Tract"].apply(lambda x: int(x*100 + 6095000000))

SantaClara = pd.read_csv(filepath+'SantaClara_2009_parsed.csv')
SantaClara["Geoid"] = SantaClara["Tract"].apply(lambda x: int(x*100 + 6085000000))

Sonoma = pd.read_csv(filepath+'Sonoma_2009_parsed.csv')
Sonoma["Geoid"] = Sonoma["Tract"].apply(lambda x: int(x*100 + 6097000000))

counties = [Alameda, ContraCosta, Napa, Marin, SanMateo, SanFrancisco,Solano,SantaClara, Sonoma]

bay_counties_loans = pd.concat(counties).reset_index(drop=True)
bay_counties_loans["Total Loans"] = bay_counties_loans['# HI borrower, LI tract'] + bay_counties_loans['# HI borrower, HI tract']+ bay_counties_loans['# LI borrower, LI tract']
+ bay_counties_loans['# LI borrower, HI tract']
bay_counties_loans = bay_counties_loans.drop(["Tract", "Year"], axis=1)

#### Merge Loans Data with cra_demog features

In [111]:
allvars_2009 = pd.merge(demog_with_cra, bay_counties_loans, how="left", left_on='Id2', right_on='Geoid').drop(['CRA Eligible_y', "Geoid"], axis=1)
allvars_2009['CRA'] = allvars_2009['CRA Eligible_x'].apply(lambda x: 1 if x == 'eligible' else 0)
allvars_2009.to_csv("/Users/ameliabaum/Desktop/Amelia/CRA_Thesis/communityreinvestmentact/data/regression/all_vars2009.csv")

allvars_2009.head()

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,...,"% HI borrower, LI tract","# HI borrower, LI tract","% HI borrower, HI tract","# HI borrower, HI tract","% LI borrower, LI tract","# LI borrower, LI tract","%LI borrower, HI tract","# LI borrower, HI tract",Total Loans,CRA
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,...,0.000000,0.0,0.981818,54.0,0.0,0.0,0.0,0.0,54.0,0
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,...,0.000000,0.0,0.906250,58.0,0.0,0.0,0.0,0.0,58.0,0
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,...,0.000000,0.0,0.979167,47.0,0.0,0.0,0.0,0.0,47.0,0
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,...,0.877193,50.0,0.000000,0.0,0.0,0.0,0.0,0.0,50.0,1
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,...,0.870968,27.0,0.000000,0.0,0.0,0.0,0.0,0.0,27.0,1

#### Regression Data Prep

In [118]:
allvars_2009.columns
noinc = ['% HI borrower, LI tract',
       '# HI borrower, LI tract', '% HI borrower, HI tract',
       '# HI borrower, HI tract', '% LI borrower, LI tract',
       '# LI borrower, LI tract', '%LI borrower, HI tract',
       '# LI borrower, HI tract', 'Geoid', 'Total Loans', "CRA Eligible_x", "type", "County"]

X_vars = allvars_2009.loc[:, ~allvars_2009.columns.isin(noinc)]
y = allvars_2009["Total Loans"]
print(len(y))
print(len(X_vars))
X_vars.head()

1228
1228

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households,CRA
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0,0
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0,0
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0,0
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0,1
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,586700.0,39802.0,1

In [119]:
# This is the number of nans (missing data) 
for col in X_vars.columns:
    num = sum(np.isnan(X_vars[col]))
    print(col, num)

Id2 0
Percent of population 25 years and over with Bachelor's degree 1
% Hispanic or Latino 205
Percent below poverty level; Estimate; Population for whom poverty status is determined 205
% Single Family 1
% Owner Occupied 1
Percent Black or African African 1
Percent White 1
Percent Asian 1
Estimate; Total Number of Housing Units 0
Estimate; Median value (dollars) 17
Median income (dollars); All households 1
CRA 0

#### Some of the data is Nan, I dealt with this is 3 ways, discuss the best strategy for this with Carolina

Strategy 1: drop all the Nans, lose ~20% of the data

In [121]:
#need to concatenate x with y, dropna and then unconcatenate in order to do this correctly
xydf = X_vars.copy()
xydf["y"] = y
dropped = xydf.dropna()

X_drop = dropped.loc[:, dropped.columns != 'y']
#y_drop = dropped['y']

print("num tracts", len(X_drop))
print("y", len(y_drop))
X_drop.head()

num tracts 1015
y 1015

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households,CRA
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0,0
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0,0
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0,0
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0,1
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,586700.0,39802.0,1

Strategy 2: infill nans with mean of column

In [124]:
X_vars_mean = X_vars.fillna(X_vars.mean())
y_mean = y.fillna(y.mean())
print("num tracts", len(X_vars))
print("num y", len(y))
X_vars_mean.head()

num tracts 1228
num y 1228

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households,CRA
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0,0
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0,0
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0,0
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0,1
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,586700.0,39802.0,1

Strategy 3: infill nans with median of column

In [125]:
X_vars_med = X_vars.fillna(X_vars.median())

y_med = y.fillna(y.median())
print("X", len(X_vars_med))
print("y", len(y_med))

X_vars_med.head()

X 1228
y 1228

,Id2,Percent of population 25 years and over with Bachelor's degree,% Hispanic or Latino,Percent below poverty level; Estimate; Population for whom poverty status is determined,% Single Family,% Owner Occupied,Percent Black or African African,Percent White,Percent Asian,Estimate; Total Number of Housing Units,Estimate; Median value (dollars),Median income (dollars); All households,CRA
0,6001400100,34.5,0.037780,4.2,0.912439,0.895260,0.041435,0.774373,0.110724,1439,1000000.0,186439.0,0
1,6001400300,32.1,0.075151,7.5,0.478758,0.405179,0.112208,0.763900,0.075544,2801,718100.0,66638.0,0
2,6001400400,44.0,0.094463,9.2,0.555446,0.433809,0.094956,0.733365,0.078143,2020,790500.0,80391.0,0
3,6001400500,28.1,0.103195,9.4,0.444380,0.437722,0.350093,0.467146,0.066241,1735,572000.0,50658.0,1
4,6001400600,51.9,0.085627,10.9,0.632653,0.470756,0.473150,0.383055,0.032220,784,586700.0,39802.0,1

#### Data Normalization

In [126]:
def normalize_columns(data, mean_df, std_df):
    '''
    Input:
      data (data frame): contains only numeric columns
    Output:
      data frame, the same data, except each column is standardized 
      to have 0-mean and unit variance
    '''
    normalized_data=(data-mean_df.mean())/std_df.std()

    return normalized_data

In [127]:
def unnormalize_columns(data, mean_df, std_df):
    unnormalized_data=(data*std_df.std())+mean_df.mean()

    return unnormalized_data

#### Regression Using dropped NaNs method

In [130]:
normal_x_drop = normalize_columns(X_drop, X_drop, X_drop)
normal_y_drop = normalize_columns(y_drop, y_drop, y_drop)

In [132]:
from sklearn import linear_model
sk_model = linear_model.LinearRegression()
sk_model.fit(normal_x_drop,normal_y_drop)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [135]:
from collections import OrderedDict
linear_coef_dict = {}
for linear_coef, linear_feature in zip(sk_model.coef_, X_vars.columns):
    linear_coef_dict[linear_feature] = linear_coef
    
sorted_coefs_linear = OrderedDict(sorted(linear_coef_dict.items(), key=lambda t: t[1]))
sorted_coefs_linear

OrderedDict([('Percent White', -0.27258307357582173),
             ('Estimate; Median value (dollars)', -0.1802384889463188),
             ('Percent Asian', -0.17616035990482332),
             ('Percent Black or African African', -0.10267521594433242),
             ('Percent below poverty level; Estimate; Population for whom poverty status is determined',
              -0.06864439726389242),
             ('% Hispanic or Latino', -0.029225514400186996),
             ('CRA', 0.03409852616665652),
             ('Id2', 0.06423751338118262),
             ("Percent of population 25 years and over with Bachelor's degree",
              0.07497825769341768),
             ('% Owner Occupied', 0.11329052393443738),
             ('% Single Family', 0.19409543212601302),
             ('Median income (dollars); All households', 0.23685152316952895),
             ('Estimate; Total Number of Housing Units', 0.5322966677423042)])

#### Regression using filled means method

In [136]:
normal_x_vars_mean = normalize_columns(X_vars_mean, X_vars_mean, X_vars_mean)
normal_y_mean = normalize_columns(y_mean, y_mean, y_mean)

In [137]:
from sklearn import linear_model
sk_model_mean = linear_model.LinearRegression()
sk_model_mean.fit(normal_x_vars_mean,normal_y_mean)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [138]:
from collections import OrderedDict
linear_coef_dict = {}
for linear_coef, linear_feature in zip(sk_model_mean.coef_, X_vars.columns):
    linear_coef_dict[linear_feature] = linear_coef
    
sorted_coefs_linear_mean = OrderedDict(sorted(linear_coef_dict.items(), key=lambda t: t[1]))
sorted_coefs_linear_mean

OrderedDict([('Percent White', -0.2406589297300957),
             ('Percent Asian', -0.1627241507290869),
             ('Percent Black or African African', -0.08579536499837401),
             ('Estimate; Median value (dollars)', -0.0520897204611604),
             ('% Hispanic or Latino', -0.041761699127489955),
             ("Percent of population 25 years and over with Bachelor's degree",
              -0.004286297721727586),
             ('Id2', 0.006293545345081028),
             ('Percent below poverty level; Estimate; Population for whom poverty status is determined',
              0.038605134907601465),
             ('CRA', 0.05931227882930579),
             ('% Single Family', 0.12143575349566846),
             ('% Owner Occupied', 0.15492160410474418),
             ('Median income (dollars); All households', 0.19571858449749396),
             ('Estimate; Total Number of Housing Units', 0.7309329991940453)])

#### Regression using filled medians method

In [139]:
normal_x_median = normalize_columns(X_vars_med, X_vars_med, X_vars_med)
normal_y_median = normalize_columns(y_med, y_med, y_med)

In [141]:
from sklearn import linear_model
sk_model_med = linear_model.LinearRegression()
sk_model_med.fit(normal_x_median,normal_y_median)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [142]:
from collections import OrderedDict
linear_coef_dict = {}
for linear_coef, linear_feature in zip(sk_model_med.coef_, X_vars.columns):
    linear_coef_dict[linear_feature] = linear_coef
    
sorted_coefs_linear_med = OrderedDict(sorted(linear_coef_dict.items(), key=lambda t: t[1]))
sorted_coefs_linear_med

OrderedDict([('Percent White', -0.24446619437416256),
             ('Percent Asian', -0.16614787094237304),
             ('Percent Black or African African', -0.08943402260210127),
             ('Estimate; Median value (dollars)', -0.0536007519352044),
             ('% Hispanic or Latino', -0.04588823441702904),
             ("Percent of population 25 years and over with Bachelor's degree",
              -0.004639249603893194),
             ('Id2', 0.006075829490589675),
             ('Percent below poverty level; Estimate; Population for whom poverty status is determined',
              0.03750944422438277),
             ('CRA', 0.06221351509162301),
             ('% Single Family', 0.12226360834152093),
             ('% Owner Occupied', 0.1568035455704303),
             ('Median income (dollars); All households', 0.1950521834862294),
             ('Estimate; Total Number of Housing Units', 0.7319505968590125)])